/* Global
-------------------*/
html{
    box-sizing: border-box;
}

body{
    color: #4D5061;
    margin: 0;
    padding: 20;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1{
    font-size: 115%;
}

h2{

    font-size: 110%;
}

h3{
    font-size: 105%;
}

h4{
    font-size: 102.5%;
}

#about-us, #about{
    background: #F6F4F5;
}

#inspiration{
    background: #EBEBEB;
}

.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 20px;
}

.title{
    text-align: center;
}


/* Header
-------------------*/
.navtop{
    background-color: #4D5061;
    overflow: hidden;
    height: auto;
}

.navtop a{
    float: left;
    color: #EBEBEB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}

.navtop a:hover{
    background-color: #EBEBEB;
    color: #4D5061;
}

.navtop a.active{
    background-color: #EBEBEB;
    color: #4D5061;
}

/* Dashboard
-------------------*/
#btnDash{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.dashBtn{
  background-color: #4D5061;
  color: #EBEBEB;
  padding: 14px 25px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  border-radius: 6px;
}

/* About Us
---------------*/
.accordion {
  background-color: #4D5061;
  color: #EBEBEB;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 105%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #7A7E94;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Forms
---------------*/
.form{
  padding: 20px;
}
.formElement, .reviewElement{
  padding-bottom: 1.5em;
}
.form select{
  font-size: 100%; 
  width: 4em;
  height: 2em;
}

/* Submitted Exam Display
--------------------------*/
.answerOutput, .questionOutput{
  font-weight: bold;
}

.answerValue, .questionValue{
  padding-left: 30px;
}

/* Dashboard */
.done, .todo, .created {
  margin: 20px;
  border: 2px solid ;
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
}

/* Show Exam Created Page */
.questionsForExam {
  margin: 10px;
  padding-left: 20px;
}
.mcqForExam {
  padding-left: 30px;
}
/* Question Bank Page*/
.questionsUserOwns {
  padding-left: 20px;
}

/* Question Form Page*/
#addFields, #removeFields {
  display:inline-block;
}
.questionForm {
  padding-left: 20px;
}